<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    <optgroup label="Getting started">
      <option value="{{ site.url }}/docs/installation">Installation</option>
    </optgroup>
    <optgroup label=".NET Host Plugin">
      <option value="{{ site.url }}/docs/creating-a-plugin">Creating a Plugin</option>
      <option value="{{ site.url }}/docs/creating-a-source-factory">Creating a Source Factory</option>
    </optgroup>
    <optgroup label="Browser Plugin">
      <option value="{{ site.url }}/docs/bsp-configuration">Configuration</option>
      <option value="{{ site.url }}/docs/bsp-assets">Assets</option>
      <option value="{{ site.url }}/docs/bsp-javascript-plugins">Javascript Plugins</option>
    </optgroup>
    <optgroup label="Video Plugin">
    </optgroup>
    <optgroup label="Mumble Plugin">
      <option value="{{ site.url }}/docs/mop-configuration">Configuration</option>
    </optgroup>
  </select>
</div>
