<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
    </ul>
    <h4>.NET Host Plugin</h4>
    <ul>
      <li class="{% if page.title == "Creating a Plugin" %}current{% endif %}">
        <a href="{{ site.url }}/docs/creating-a-plugin">Creating a Plugin</a>
      </li>
      <li class="{% if page.title == "Source Factories" %}current{% endif %}">
        <a href="{{ site.url }}/docs/creating-a-source-factory">Source Factories</a>
      </li>
    </ul>
    <h4>Browser Plugin</h4>
    <h4>Video Plugin</h4>
  </aside>
</div>
